@media only screen and (prefers-color-scheme: light) {
  :root {
    --main-color: hsl(0, 0%, 0%);
    --main-color-secondary: hsl(0, 75%, 40%);

    --nav-bg-color: hsl(290, 30%, 70%);
    --nav-bg-hover-color: hsl(110, 30%, 70%);
    --nav-shadow-color: rgba(255, 255, 255, 0.4);

    --welcome-bg-from: hsl(110, 50%, 50%);
    --welcome-bg-to: hsl(140, 50%, 50%);
    --welcome-color: hsl(80, 30%, 30%);

    --projects-bg-from: hsl(260, 30%, 80%);
    --projects-bg-to: hsl(290, 30%, 80%);
    --projects-item-bg: hsl(110, 30%, 80%);
    --projects-img-filter: brightness(1);

    --contact-bg: hsl(125, 30%, 60%);
    --contact-text-shadow-color: hsl(0, 0%, 60%);

  }
  span.dark {
    display: none;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --main-color: hsl(0, 0%, 80%);
    --main-color-secondary: hsl(0, 30%, 80%);

    --nav-bg-color: hsl(290, 30%, 20%);
    --nav-bg-hover-color: hsl(110, 30%, 20%);
    --nav-shadow-color: rgba(0, 0, 0, 0.4);

    --welcome-bg-from: hsl(110, 30%, 20%);
    --welcome-bg-to: hsl(140, 30%, 20%);
    --welcome-color: hsl(80, 30%, 60%);

    --projects-bg-from: hsl(270, 30%, 20%);
    --projects-bg-to: hsl(290, 30%, 20%);
    --projects-item-bg: hsl(110, 30%, 20%);
    --projects-img-filter: brightness(0.6);

    --contact-bg: hsl(125, 30%, 20%);
    --contact-text-shadow-color: hsl(0, 0%, 15%);
  }
  span.light {
    display: none;
  }
}

/* Base reset */

* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
   * This helps automate a bit of responsiveness.
   * The trick is to use the rem unit for size values, margin and padding.
   * Because rem is relative to the document font size
   * when we scale up or down the font size on the document
   * it will affect all properties using rem units for the values.
  */

/* I am using the em unit for breakpoints
   * The calculation is the following
   * screen size divided by browser base font size
   * As an example: a breakpoint at 980px
   * 980px / 16px = 61.25em
  */

/* 1200px / 16px = 75em */

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-color);
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--nav-bg-color);
  box-shadow: 0 2px 0 var(--nav-shadow-color);
  z-index: 10;
}
.nav p {
  font-size: 2.2rem;
  font-weight: bolder;
  margin: auto 10rem; 
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }
  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--nav-bg-hover-color);
}

/* Welcome section */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(62deg, 
    var(--welcome-bg-from) 0%,
    var(--welcome-bg-to) 100%
  );
}

.welcome>p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--welcome-color);
}

/* Projects section */

.projects {
  text-align: center;
  padding: 10rem 2rem;
  background-image: linear-gradient(175deg,
    var(--projects-bg-from) 0%,
    var(--projects-bg-to) 100%
  );
}

.projects header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 28.75em) {
  .projects header {
    font-size: 4rem;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects {
    padding: 6rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--projects-item-bg);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  overflow: hidden;
}

.project header span::before,
.project header span::after {
  font-family: 'Courier New', Courier, monospace;
  color: var(--main-color-secondary);
  transition: transform .1s ease;
}
.project:hover header span::after {
  content: " />";
}
.project:hover header span::before {
  content: "< ";
}

.project img {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  transition: transform .5s ease;
  filter: var(--projects-img-filter);
}
.project:hover img {
  transform:  scale(1.1);
}

.project header {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* Contact section */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--contact-bg);
}

.contact-header>h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-header>h2 {
    font-size: 4rem;
  }
}

.contact-header>p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px var(--contact-text-shadow-color);
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: scale(1.1);
  color: var(--main-color-secondary);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--nav-bg-color);
  border-top: 2px solid var(--nav-shadow-color);
}

footer>p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}